<div class="container">
<div class="button" (click)="back()" id="back-button"><i class="fa-solid fa-arrow-left"></i><span>Back</span></div>
<div id="country" >
 <img id="flag" [src]="country.flags.png">
    <div [style]="getTheme()" id="details">
        <h2>{{this.country.name.common}}</h2>
        <div id="info">
            <ul>
                <li><b>Native Name:</b> {{getNativeName()}}</li>
                <li><b>Population: </b>{{this.country.population}}</li>
                <li><b>Region: </b>{{this.country.region}}</li>
                <li><b>Sub Region: </b>{{this.country.subregion}}</li>
                <li><b>Capital: </b>{{this.country.capital}}</li>
            </ul>
            <ul>
                <li><b>Top Level Domain: </b><span *ngFor="let Domain of this.country.tld">{{Domain}}</span></li>
                <li><b>Currncies: </b><span *ngFor="let currency of this.getCurrencies()">{{currency}}</span></li>
                <li><b>Languages: </b><span *ngFor="let language of this.getLanguages()" style=" margin-right: 10px;">{{language}}</span></li>
            </ul>
        </div>
        
    </div>
</div>
</div>

